.additional-info-1f398608 {
  display: flex;
  align-items: center;
  font-size: 1.7rem;

  @media screen and (max-width: $medium-size) {
    font-size: 1.4rem;
  }


  i {
    font-size: 1.5em;
    margin-right: .3em;
  }

  .info {
    display: flex;
    flex-direction: column;

    .value {
      font-size: 1.5em;
      font-weight: 500;
    }
  }
}