////////////////////////
// VAR
////////////////////////

$primary-color: rgb(56, 57, 58);
// $secondary-color: #dfe1e6;
$medium-size: 950px;



////////////////////////
// ---- INIT
////////////////////////
* {
  box-sizing: border-box;
}

a {
  color: inherit;
  cursor: pointer;
  &:hover {
    color: black;
    text-decoration: none;
  }
}

input:not([type=file]), textarea {
  color: #172b4d;
  border-radius: 3px;
  padding: 8px 12px;
  border: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 1rem 0;
  font-weight: normal;
}
h1 { font-size: 1.8rem; }
h2 { font-size: 1.6rem; }
h3 { font-size: 1.4rem; }
h4 { font-size: 1.2rem; }

////////////////////////
// ROOT SETTINGS
////////////////////////

html {
  font-size: 100%;
  @media screen and (max-width: $medium-size) {
    font-size: 80%;
  }
}

body {
  margin: 0;
  font-size: 15px;
  font-family: 'Rubik';
  color: white;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
  opacity: .8;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 3px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: lighten($primary-color, 25%); 
  border-radius: 5px;
}


////////////////////////
// FONT
////////////////////////

@import url('https://fonts.googleapis.com/css?family=Rubik:400,500&display=swap');


////////////////////////
// COMPONENTS CLASS
////////////////////////

.button {
  display: inline-block;
  border-radius: 3px;
  border: 0;
  background-color: black;
  padding: 3px 8px;
  margin: 6px 8px 0 0;
  font-size: 1.2em;
  font-weight: 500;
  color: white;
  cursor: pointer;
  &:hover {
    background-color: lighten(black, 15%);
  }
}

.button-transparent {
  color: #42526e;
  fill: #42526e;
  background-color: transparent;
  &:hover {
    background-color: transparent;
    color: #172b4d;
    fill: #172b4d;
  }
}


////////////////////////
// IMPORT
////////////////////////

@import "login";
@import "dashboard";
@import "navbar";
@import "searchCity";
@import "widgetCity";
@import "detailView";
@import "additionalInfo";
