.input-toggle-6e7e7eeb {
  .toggle {
    background-color: blue;
    height: 26px;
    width: 52px;
    border-radius: 30px;
    position: relative;
    cursor: pointer;
    &:before {
      content: '';
      display: block;
      background-color: white;
      height: 20px;
      width: 20px;
      border-radius: 50%;
      position: absolute;
      right: 4px;
      transform: translateY(-50%);
      top: 50%;
      transition: right .4s ease;
    }
    &.disable {
      background: $primary-color;
      &:before {
        right: 29px;
      }
    }
  }
}