.widget-city-759bdd23 {
  background-color: #657b887a;
  color: white;
  padding: .5rem 1rem;
  border-radius: 5px;
  max-width: 300px;

  .city-name {
    font-size: 1.8rem;
    margin-bottom: .5rem;
  }

  .infos {
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    .temp {
      font-size: 3rem;
    }
  
    i {
      font-size: 2.2rem;
    }
  }
}